.header_part {
    display: flex;
    justify-content: space-between;
    height: 140px;
    align-items: center;
}

.menu {
    display: flex;
    gap: 25px;
}

.letsTalk {
    font-size: 24px;
    line-height: 36px;
    border: 2px solid #263238;
    border-radius: 5px;
    padding: 17px 57px;
    background: none;
}

.menu li {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #263238;
}